
<script language="JavaScript">
function pop_work_sample(sParams){
var wPopup = window.open(sParams,'bwin','width=800,height=600,scrollbars,resizable');
wPopup.focus();
}
</script>

<link rel="stylesheet" href="../portfolios/styles/core.css" type="text/css">
<link rel="stylesheet" href="../portfolios/styles/emerald.css" type="text/css">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

        <table class="portfolio" width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td width="50%" rowspan="5">
              <!--<img src="../images_v3/spacer.gif" height="19" width="57" border="0">-->
            </td>
            <td><img src="../images_v3/spacer.gif" height="19" width="38" border="0"></td>
            <td><img src="../images_v3/spacer.gif" height="19" border="0"></td>
            <td width="50%" rowspan="5">
            <!--	  <img src="../images_v3/spacer.gif" height="19" width="57" border="0"></td>-->
          </tr>
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>	
                  <td><img src="../images_v3/spacer.gif" height="1" width="24" border="0"></td>
                  <td colspan="2"><img src="../images_v3/spacer.gif" height="50" width="1" border="0"></td>
                  <td rowspan="4" style="text-align:right;vertical-align:bottom;">
              <!--// PERSONAL GRAPHIC TABLE //-->
              <table cellpadding="0" cellspacing="0" width="1" height="1" align="right">
                <tr>
                  <td class="picturecell" align="center" nowrap><img border='0' src="../portfolios/personal_graphics/jdp_zOC81IqSYPZI9PSGcAvwj.jpg" width="75" height="100"></td>
                  <td><img src="../images_v3/spacer.gif" height="19" width="4" border="0"></td>
                </tr>
              </table></td>
	              </tr>
                <tr>
                  <td><img src="../images_v3/spacer.gif" height="1" width="24" border="0"></td>
                  <td><img width="9" height="9" src="../portfolios/styles/14/cor_nam_1.gif"></td>
                  <td class="picturecell"><img src="../images_v3/spacer.gif" width="7" height="7" border="0"></td>
                </tr>		  
                <tr>
                  <td><img src="../images_v3/spacer.gif" height="1" width="24" border="0"></td>
                  <td class="picturecell">&nbsp;</td>
                  <td class="picturecell" width="100%"><span class="username">Seth&nbsp;Sherwood</span></td>
                </tr>
                <tr>
                  <td><img src="../images_v3/spacer.gif" height="1" width="24" border="0"></td>
                  <td><img width="9" height="9" src="../portfolios/styles/14/cor_nam_4.gif"></td>
                  <td class="picturecell"><img src="../images_v3/spacer.gif" width="7" height="7" border="0"></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><img src="../images_v3/spacer.gif" width="1" height="19" border="0"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <table cellpadding="4" cellspacing="0" width="600">
  
	<tr>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				
				<td rowspan="3" valign="bottom"><img border="0" src="../portfolios/styles/14/section_icon_2.gif"></td>
				
				<td colspan="2" style="background-image: url(../portfolios/styles/14/edge_1.gif); background-repeat: repeat-x; background-position: bottom"><img height="12" src="../images_v3/spacer.gif" border="0"></td>
				<td valign="bottom"><img height="12" width="7" src="../portfolios/styles/14/cor_2.gif" border="0"></td>
			</tr>
			<tr>
				<td width="100%" class="sectiontitle">Professional/Personal Overview</td>
				<td width="0%" align="right" class="details"><nobr></nobr></td>
				<td rowspan="3" style="background-image: url(../portfolios/styles/14/edge_2.gif); background-repeat: repeat-y"></td>
			</tr>
			<tr>
				<td colspan="2" class="sectionarea"><img src="../images_v3/spacer.gif" height="7" border="0"></td>
			</tr>
			<tr>
				<td style="background-image: url(../portfolios/styles/14/edge_4.gif); background-repeat: repeat-y">&nbsp;</td>
				<td colspan="2" class="details">Anywhere, anytime.<br><br>As a regular contributor to the travel section of the New York Times, Seth Sherwood routinely spans the globe from his bases in Paris and New York to discover and report on the world's most exotic and exciting destinations. Sometimes that means tracking down emerging hotspots like Marrakesh, Bangalore and Dubai. Sometimes that means uncovering the latest developments in established playgrounds like Saint Tropez and Monaco. And sometimes that means revealing remote corners that almost no Westerners visit, from Turkbuku, Turkey to Belgrade, Serbia. <br><br>Whatever the destination, from Europe to the Middle East to India and beyond, he brings the world to the page.</td>
			</tr>
			<tr>
				<td valign="top"><img height="7" width="37" src="../portfolios/styles/14/cor_4.gif" border="0"></td>
				<td colspan="2" style="background-image: url(../portfolios/styles/14/edge_3.gif); background-repeat: repeat-x; background-position: top"><img src="../images_v3/spacer.gif" border="0"></td>
				<td valign="top"><img height="7" width="7" src="../portfolios/styles/14/cor_3.gif" border="0"></td>
			</tr>
		</table>
	</td>
	</tr>
	<tr>
		<td>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					
						<td rowspan="3" valign="bottom"><img border="0" src="../portfolios/styles/14/section_icon_4.gif"></td>
					
					
        <td colspan="2" style="background-image: url(../portfolios/styles/14/edge_1.gif); background-repeat: repeat-x; background-position: bottom"><img height="12" src="../images_v3/spacer.gif" border="0"></td>
					
        <td valign="bottom"><img height="12" width="7" src="../portfolios/styles/14/cor_2.gif" border="0"></td>
				</tr>
				<tr>
					<td width="100%" class="sectiontitle">Contact Info</td>
					<td align="right" class="details"><nobr></nobr></td>
					<td rowspan="2" style="background-image: url(../portfolios/styles/14/edge_2.gif); background-repeat: repeat-y"></td>
				</tr>
				<tr>
					<td colspan="2" height="7" class="details"><img src="../images_v3/spacer.gif" width="1" height="1" border="0" alt></td>
				</tr>
				<tr>
					<td style="background-image: url(../portfolios/styles/14/edge_4.gif); background-repeat: repeat-y">&nbsp;</td>
					
        <td colspan="2" class="details">
		
		Seth&nbsp;Sherwood<br>
		NYC and Paris, &nbsp;<br>
		France<br>
		<br>
		
        <strong>E-Mail:</strong> <a href="mailto:sethnsherwood@gmail.com">sethnsherwood@gmail.com</a><br>
        
        <strong>Website:</strong> <a href="http://www.nytimes.com/travel" target="_blank">http://www.nytimes.com/travel</a>
		
		</td>
		<td style="background-image: url(../portfolios/styles/14/edge_2.gif); background-repeat: repeat-y"></td>
		</tr>
		
				<tr>
					<td valign="top"><img height="7" width="37" src="../portfolios/styles/14/cor_4.gif" border="0"></td>
					<td colspan="2" style="background-image: url(../portfolios/styles/14/edge_3.gif); background-repeat: repeat-x; background-position: top"><img src="../images_v3/spacer.gif" border="0"></td>
					<td valign="top"><img height="7" width="7" src="../portfolios/styles/14/cor_3.gif" border="0"></td>
				</tr>
			</table>
		</td>
	</tr>
          <tr>
            <td>
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td rowspan="3" valign="bottom"><img border="0" src="../portfolios/styles/14/section_icon_5.gif"></td>
                  
                  <td colspan="2" style="background-image: url(../portfolios/styles/14/edge_1.gif); background-repeat: repeat-x; background-position: bottom"><img height="12" src="../images_v3/spacer.gif" border="0"></td>
                  <td valign="bottom"><img height="12" width="7" src="../portfolios/styles/14/cor_2.gif" border="0"></td>
                </tr>
                <tr>
                  <td width="100%" class="sectiontitle">Work Samples</td>
                  <td align="right" class="details"><nobr></nobr></td>
                  <td rowspan="3" style="background-image: url(../portfolios/styles/14/edge_2.gif); background-repeat: repeat-y"></td>
                </tr>
                <tr>
                  <td colspan="2" class="sectionarea"><img height="7" src="../images_v3/spacer.gif" border="0"></td>
                </tr>
                <tr>
                  <td style="background-image: url(../portfolios/styles/14/edge_4.gif); background-repeat: repeat-y">&nbsp;</td>                  
                  <td colspan="2" class="sectionarea">
                  <table width="100%" cellpadding="2" cellspacing="0" border="0">
                    <tr>                        
                      <td colspan="2" height="1"><div class="sectiontitle_leftaligned">TRAVEL&nbsp;&nbsp;</div></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.nytimes.com/2006/10/01/travel/01parisniteside.html" target="_blank">Where Parisians Go After the Sun Goes Down</a></b><br /><nobr>(<i>New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/08/20/travel/20bodrum.html?ref=travel" target="_blank">The Saint Tropez of Turkey</a></b><br /><nobr>(<i>The New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/07/30/travel/30riviera.html?ref=travel" target="_blank">The Barefoot Riviera</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/07/23/travel/23goingto.html" target="_blank">Going to: Monaco</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/06/04/travel/04qatar.html" target="_blank">Is Qatar the Next Dubai?</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/06/18/travel/18goingto.html" target="_blank">Going To: Bordeaux</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/04/09/travel/09goa.html" target="_blank">A New Generation of Pilgrims Hits India's Hippie Trail</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/04/16/travel/16going.html" target="_blank">Going To: Casablanca</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2006/02/26/travel/26bangalore.html" target="_blank">In India's Silicon Valley, Partying Like It's 1999</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/12/18/travel/18paris.html?ex=1138165200&en=dc039aee8239cda1&ei=5070" target="_blank">In the Heart of Paris, an African Beat</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.nytimes.com/2006/01/22/travel/22tallinn.html" target="_blank">Party Capital of the Year: Tallinn</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.nytimes.com/2005/10/16/travel/16belgrade.html" target="_blank">Belgrade Rocks</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/09/04/travel/04going.html?ex=1126670400&en=2f2fa68de0bffaf6&ei=5070" target="_blank">Going To: Nice</a></b><br /><nobr>(<i>New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/07/31/travel/31tropez.html?ei=5070&en=ba6689a3628d0b05&ex=1123387200&adxnnl=1&adxnnlx=1122750171-DBNXatPrTKpcpiBEomhiXw&pagewanted=all" target="_blank">St. Tropez a Go Go</a></b><br /><nobr>(<i>New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/07/03/travel/03going.html?n=Top%2FFeatures%2FTravel%2FDestinations%2FEurope%2FBelgium" target="_blank">Going To: Antwerp</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/mem/travel/article-page.html?res=9F03E0D8123EF931A25755C0A9639C8B63" target="_blank">Going To: Copenhagen</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/05/15/travel/15surf.html?n=Top%2FFeatures%2FTravel%2FDestinations%2FEurope%2FDenmark%2FCopenhagen&oref=login&pagewanted=print&position=" target="_blank">An Oasis of Energy in Copenhagen</a></b><br /><nobr>(<i>the New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/05/08/travel/08dubai.html?oref=login" target="_blank">The Oz of the Middle East</a></b><br /><nobr>(<i>New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/05/08/travel/08oman.html" target="_blank">Oman: Where Palm Trees, Not High-Rises, Form the Skyline</a></b><br /><nobr>(<i>New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/01/23/travel/23marrakesh.html?oref=login" target="_blank">"Marrakesh: In an Ancient Desert, a Modern Oasis Beckons"</a></b><br /><nobr>(<i>The New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://travel2.nytimes.com/2005/01/16/travel/16check.html?oref=login&n=Top%2FFeatures%2FTravel%2FDestinations%2FEurope%2FFrance%2FParis" target="_blank">Checking In: The Hotel Murano in Paris</a></b><br /><nobr>(<i>The New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.nytimes.com/2004/07/30/travel/escapes/30HOUR.htm" target="_blank">36 Hours in Ogunquit, ME</a></b><br /><nobr>(<i>The New York Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A45466-2004Nov12.html" target="_blank">In Paris, the Scrawl of Fame</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A17928-2004Oct8.html" target="_blank">Paris Chinatown</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A15814-2004Jun4.html" target="_blank">A Moveable Yeast: Tapping Into Paris's Overlooked Beer Bars</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A1395-2003Sep12.html" target="_blank">Free Cities! (Well, almost)</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A23943-2003Jun6.html" target="_blank">Bastille Day 101</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A35248-2003May9.html" target="_blank">Nashville 101</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A51756-2003Apr18.html" target="_blank">Art Deco 101</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.texashighways.com/currentissue/index.php?rid=224" target="_blank">The Corridor of Curiosities</a></b><br /><nobr>(<i>Texas Highways)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/nepal.html" target="_blank">Seeking Questions in Nepal</a></b><br /><nobr>(<i>Trips magazine)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/dmn-dq.html" target="_blank">A Pilgrimage for "Don Quixote" Fans</a></b><br /><nobr>(<i>The Dallas Morning News)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>                        
                      <td colspan="2" height="1"><div class="sectiontitle_leftaligned">MUSIC&nbsp;&nbsp;</div></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2004-03-11/hearnow2.html/1/index.html" target="_blank">Album review: Air</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2004-04-29/hearnow4.html/1/index.html" target="_blank">Album review: Iron and Wine</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2004-01-08/hearnow.html/1/index.html" target="_blank">Album review: Death Cab for Cutie</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2003-11-20/hearnow.html/1/index.html" target="_blank">Album review: The Shins</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2004-03-18/critics5.html/1/index.html" target="_blank">Concert preview: Southern Culture on the Skids</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2003-11-20/critics8.html/1/index.html" target="_blank">Concert preview: David Allen Coe</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2004-03-18/critics2.html/1/index.html" target="_blank">Concert preview: Sleepytime Gorilla Museum</a></b><br /><nobr>(<i>The Pitch/New Times)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://pitch.com/issues/2004-04-29/critics3.html/1/index.html" target="_blank">Concert preview: The Flatlanders</a></b><br /><nobr>(<i>The Pitch (New Times))</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://twincities.citysearch.com/feature/13548/2.html" target="_blank">Record review: Sixteen Deluxe</a></b><br /><nobr>(<i>Citysearch)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/soulasylum.html" target="_blank">Q&A with Soul Asylum's Dave Pirner</a></b><br /><nobr>(<i>Trips magazine)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://austin.citysearch.com/feature/3574/" target="_blank">Five Producers Who Have Helped Define Austin's Music Scene</a></b><br /><nobr>(<i>Citysearch)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/city-luna.html" target="_blank">Luna Shining</a></b><br /><nobr>(<i>CITY magazine)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>                        
                      <td colspan="2" height="1"><div class="sectiontitle_leftaligned">NEWS and TRENDS&nbsp;&nbsp;</div></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/kosovo.html" target="_blank">Two Austinites--Albanian and Serb--Watch a Crisis at Home</a></b><br /><nobr>(<i>The Austin American-Statesman)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/icecream.html" target="_blank">When Did Good Humor Go Bad?</a></b><br /><nobr>(<i>ICON magazine)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.geocities.com/sethsherwood/articles/prenups.html" target="_blank">Put it in a Prenup</a></b><br /><nobr>(<i>ICON magazine)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>                        
                      <td colspan="2" height="1"><div class="sectiontitle_leftaligned">PHOTOS&nbsp;&nbsp;</div></td>
                    </tr>
                    <tr>
                      <td class="work_samples_img"><a href="javascript:void(0);" onclick="pop_work_sample('../portfolios/work_sample_details.asp?sec=999&ref=/forward.asp&name=Seth Sherwood&sample_name=Untitled&work_sample_id=16771&user_id=3122');"><img border="1" src="../portfolios/thumbnails/thumbnail_BniEUCsn1KcYzui4MH05P4JOK.jpg"></a></td>
                      <td width="100%" class="work_samples"><b><a href="javascript:void(0);" onclick="pop_work_sample('../portfolios/work_sample_details.asp?sec=999&ref=/forward.asp&name=Seth Sherwood&sample_name=Untitled&work_sample_id=16771&user_id=3122');">Untitled</a></b><a name="ws16771"> </a><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="work_samples_img"><a href="javascript:void(0);" onclick="pop_work_sample('../portfolios/work_sample_details.asp?sec=999&ref=/forward.asp&name=Seth Sherwood&sample_name=Untitled&work_sample_id=10376&user_id=3122');"><img border="1" src="../portfolios/thumbnails/thumbnail_2qxR7cmjAtmVq9cVWNHfvs2xf.jpg"></a></td>
                      <td width="100%" class="work_samples"><b><a href="javascript:void(0);" onclick="pop_work_sample('../portfolios/work_sample_details.asp?sec=999&ref=/forward.asp&name=Seth Sherwood&sample_name=Untitled&work_sample_id=10376&user_id=3122');">Untitled</a></b><a name="ws10376"> </a><br /><br />&nbsp;</td>
                    </tr>
                    <tr>                        
                      <td colspan="2" height="1"><div class="sectiontitle_leftaligned">FOOD AND NIGHTLIFE&nbsp;&nbsp;</div></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A45454-2004Nov12.html" target="_blank">Zagat versus Time Out: The Dish on Two NYC Restaurant Guides</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>                        
                      <td colspan="2" height="1"><div class="sectiontitle_leftaligned">ART&nbsp;&nbsp;</div></td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/content/article/2005/09/16/AR2005091600698.html" target="_blank">In London, Persia the Great</a></b><br /><nobr>(<i>Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/content/article/2005/06/17/AR2005061700537_pf.html" target="_blank">In New York, Two Lasting Impressionists</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/content/article/2005/05/13/AR2005051300696.html?sub=AR" target="_blank">A Renaissance in Ottawa</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.travelandleisure.com/invoke.cfm?ObjectID=E866FC7B-7669-4A3E-B5BB4B5C7D4612F5" target="_blank">The Lost Worlds</a></b><br /><nobr>(<i>Travel & Leisure)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A56448-2005Apr15.html" target="_blank">In the Twin Cities, Double the Art</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A47383-2005Mar18.html" target="_blank">On Exhibit: Paris, Making a Neo-Impression</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A35258-2005Feb18.html" target="_blank">On Exhibit: In Philadelphia, Dallying with Dali</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A55200-2004Jul16.html" target="_blank">On Exhibit: Tall Buildings</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A9678-2005Jan14.html" target="_blank">On Exhibit: In Berlin, Pollock on Paper</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A35731-2004Oct15.html" target="_blank">On Exhibit: The Spanish Portrait</a></b><br /><nobr>(<i>the Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="work_samples"><b><a href="http://www.washingtonpost.com/wp-dyn/articles/A29448-2004Sep17.html" target="_blank">On Exhibit: Sons et Lumieres</a></b><br /><nobr>(<i>The Washington Post)</nobr><br /><br />&nbsp;</td>
                    </tr>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top"><img height="7" width="37" src="../portfolios/styles/14/cor_4.gif" border="0"></td>
                  <td colspan="2" style="background-image: url(../portfolios/styles/14/edge_3.gif); background-repeat: repeat-x; background-position: top"><img src="../images_v3/spacer.gif" border="0"></td>
                  <td valign="top"><img height="7" width="7" src="../portfolios/styles/14/cor_3.gif" border="0"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td rowspan="2" valign="bottom"><img border="0" src="../portfolios/styles/14/section_icon_6.gif"></td>
                  
        <td colspan="2" style="background-image: url(../portfolios/styles/14/edge_1.gif); background-repeat: repeat-x; background-position: bottom"><img height="8" src="../images_v3/spacer.gif" border="0"></td>
                  
        <td valign="bottom"><img height="10" width="7" src="../portfolios/styles/14/cor_2.gif" border="0"></td>
                </tr>
                <tr>
                  <td width="100%" class="sectiontitle">Work Info</td>
                  <td align="right" class="details"><nobr></nobr></td>
                  <td rowspan="2" style="background-image: url(../portfolios/styles/14/edge_2.gif); background-repeat: repeat-y"></td>
                </tr>
                <tr>
                  <td style="background-image: url(../portfolios/styles/14/edge_4.gif); background-repeat: repeat-y">&nbsp;</td>
                 <td colspan="2" class="details">
				 
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td class="rowlabel"><div class="rowlabel">Expertise</div></td>
                      </tr>
                      <tr>
                        <td class="details" style="vertical-align:top;padding-left:12px;">Photographer</td>
                        <td class="details">8 Years</td>
                      </tr>
                      <tr>
                        <td class="details" style="vertical-align:top;padding-left:12px;">Editor</td>
                        <td class="details">9 Years</td>
                      </tr>
                      <tr>
                        <td class="details" style="vertical-align:top;padding-left:12px;">Writer</td>
                        <td class="details">10 Years </td>
                      </tr>  
                      <tr>
                        <td class="rowlabel"><div class="rowlabel">Specialty</div></td>
                      </tr>
                      <tr>
                        <td class="details" style="vertical-align:top;padding-left:12px;">Music</td>
                        <td class="details">2 Years</td>
                      </tr>
                      <tr>
                        <td class="details" style="vertical-align:top;padding-left:12px;">Arts & Humanities</td>
                        <td class="details">9 Years</td>
                      </tr>
                      <tr>
                        <td class="details" style="vertical-align:top;padding-left:12px;">Travel</td>
                        <td class="details">8 Years</td>
                      </tr>
										</table>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">

                      <tr>
                        
  <td class="details"><div class="rowlabel">Total Media Industry Experience</div><div class="rowvalue">
10 Years </div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Media Client List (# assignments 
    last 2 yrs)</div> 
    <div class="rowvalue">
Citysearch.com (11+), The Washington Post (11+), America Online / Digital Cities (11+), New Times publications (11+), The New York Times (6-10)</div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Corporate Client List (# assignments last 2 yrs)</div><div class="rowvalue">
Schecky's Bar Guide (1-2), Interference Media (1-2), Northstar Travel Media (1-2)</div></td>
		                  </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Other Work History</div><div class="rowvalue">
* America Online (Writer and Photographer)<br>2002-2004<br>Covered music, dining and nightlife for Digital Cities entertainment guide<br><br>* The Pitch / New Times Publications (Music Writer)<br>2003-2004<br>Previewed upcoming concerts and reviewed recent CD's under weekly deadline<br><br>* Weissmann Travel Reports / Cahners (Associate Editor)<br>2000-2002<br>Edited travel guides to Beirut, Copenhagen, Istanbul, Kathmandu, New Delhi, New York, Paris, Santiago, St. Petersburg (Russia) and many other international destinations<br><br>* Facts on File News Services (Associate Editor)<br>1997-1998<br>Covered current events in Australia, Russia and E. Europe for weekly news digest<br><br>* University of Texas at Austin (Instructor)<br>1994-1997, 1998-2000<br>Taught courses in writing and American literature<br></div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Computer Skills</div> <div class="rowvalue">
    All the journalism essentials</div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Technical Skills</div><div class="rowvalue">
Photography, both 35mm and digital (including darkroom processing)</div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Equipment</div><div class="rowvalue">
Laptop, digital camera</div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Foreign Language Skills</div><div class="rowvalue">
French</div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Associations</div><div class="rowvalue">
<span class="sample">Alliance Francaise of Paris</span></div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Other</div><div class="rowvalue">
EDUCATION<br>Diplome, Alliance Francaise de Paris (2004)<br>M.A., English, University of Texas at Austin (1996)<br>B.A., English, Northwestern University (1991)<br>Diploma, Bronx H.S. of Science (1987)
                        </div></td>
                      </tr>
                      <tr>
                        
  <td class="details"><div class="rowlabel">Freelancer Availability</div>
<div class="rowvalue">I freelance full-time. I am willing to travel anywhere. I have a driver's license. I have access to a car. </div></td>
                      </tr>    
							</table>
					</td>
										
					
					
				</tr>
				<tr>
					<td valign="top"><img height="7" width="37" src="../portfolios/styles/14/cor_4.gif" border="0"></td>
					<td colspan="2" style="background-image: url(../portfolios/styles/14/edge_3.gif); background-repeat: repeat-x; background-position: top"><img src="../images_v3/spacer.gif" border="0"></td>
					<td valign="top"><img height="7" width="7" src="../portfolios/styles/14/cor_3.gif" border="0"></td>
				</tr>
			</table>
		</td>
	</tr>
        			</table>
        		</td>
        	</tr>
        </table>
	<!--// END PORTFOLIO //-->
